table {

}

h2 {
    font-family: 'Montserrat';
    font-weight: 100;
    font-style: normal;
}

#checkAnswerButton {
    font-size: 25px;
    background: #1BA3DD;
    border: none !important;
    color: white !important;
    font-weight: bold !important;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 10px;
    min-height: 30px;
}

#geographyBackground {
    background-image: url("../images/worldmap.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

#questionnaireTableCol {
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
}
